@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* @import url('https://fonts.googleapis.com/css?family=Jua');*/
head, body{
    text-align:center;
    
}

body {
    background-color: green;
    font-family: 'Merriweather', serif;
    /*font-family: 'Jua', sans-serif;*/


}

label{
    font-size: 22px;
    margin: 20px;
    line-height: 200%;
}

img{
   background-color: white;
   width: 200px;
}
.desc{
    background-color: white;
}


/*table h3{
    background-color: yellow;
    color: black;
}*/

mark{
    background-color: yellow;
    color: black;
}